<div class="jumbotron">
  <div class="container">
    <h1>Welcome to the Sample App!</h1>
    <p>This is the home page!</p>
    <%= link_to 'Sign up now!', '#', class: 'btn btn-primary btn-lg center' %>
  </div>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>